<div id="other-user">
  <div id="other-user-profile-pic">
    <img src= "http://upload.wikimedia.org/wikipedia/commons/b/b2/Hausziege_04.jpg"/>
  <div>
  <h5>selected friend's username</h5>
  <h4><small>selected friend's bio</small></h4>
  <div id="sf-link"><h4><small><a href="www.goat.com">www.goat.com</a></small></h4></div>
  <h4><small><a href="#">Following:</a> <a href="#">Followers:</a></small></h4>
</div>